<!DOCTYPE html>
<html>
<head>
<title>Admin Panel</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<style>
.navbar{
    background:#0077b6;
    padding:10px;
}
.navbar a{
    color:white;
    margin-right:15px;
    text-decoration:none;
    font-weight:bold;
}
</style>
</head>
<body>

<div class="navbar">
    <a href="/admin">Dashboard</a>
    <a href="/admin/dataset">Dataset</a>
    <a href="/admin/users">Data User</a>
    <a href="/logout">Logout</a>
</div>

<div class="container">
{% block content %}{% endblock %}
</div>

</body>
</html>